{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    {% include 'parciais/_head.html' %}
</head>
<body>
  <section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
              {% include 'parciais/_messages.html' %}
              <div class="card rounded-3">
                <div class="card-body p-4">
      
                  <h4 class="text-center my-3 pb-3">To Do App</h4>
      
                  <form method="POST" action="{% url 'task:create' %}" class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
                    {% csrf_token %}
                    <div class="col-12">
                      <div class="form-outline">
                            {{ taskform|crispy }}
                      </div>
                    </div>
      
                    <div class="col-12 mb-2">
                      <button type="submit" class="btn btn-primary">Save</button>
                    </div>
      
                    <div class="col-12">
                      <button type="submit" class="btn btn-warning">Get tasks</button>
                    </div>
                  </form>
      
                  {% block content %}
                  {% endblock content %}

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>